<a href="https://colab.research.google.com/github/korupalli/Words-ladder/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891,8935782)),usecols=range(11),iterator=True, chunksize=4460000)
df = pd.concat(data, ignore_index=True)
data2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891)),usecols=range(11),iterator=True, chunksize=4460000)
df2 = pd.concat(data2, ignore_index=True)
frame = pd.concat([df,df2])

In [2]:
frame = pd.concat([pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891,8935782)),usecols=range(11),header=None),pd.read_csv('/content/drive/My Drive/Colab Notebooks/TweetsCOV19.tsv',sep = '\t',skiprows = list(range(4467891)),usecols=range(11),header=None)])

frame.columns = ['Tweet Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags']

In [3]:
frame.shape

(8077794, 11)

In [26]:
frame.head()

              Tweet Id  Followers  Friends  Retweets  ...  Time  Year Pos Neg
0  1178791787386814465        619      770         0  ...    22  2019   2  -1
1  1178791985106153472      36365    19344        13  ...    22  2019   1  -4
2  1178793230223183872       5018     1933         0  ...    22  2019   2  -1
3  1178795172206919680       2219      971         0  ...    22  2019   2  -1
4  1178798309491822592       9009     4943        26  ...    22  2019   2  -1

[5 rows x 14 columns]

In [5]:
frame.columns = ['Tweet Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags']

In [3]:
frame['Timestamp'] = frame.Timestamp.apply(lambda x: x.split())

In [5]:
frame['Day'] = frame.Timestamp.apply(lambda x: x[0])

In [7]:
frame['Month'] = frame.Timestamp.apply(lambda x: x[1])
frame['Date'] = frame.Timestamp.apply(lambda x: x[2])
frame['Time'] = frame.Timestamp.apply(lambda x: x[3].split(':')[0])
frame['Year'] = frame.Timestamp.apply(lambda x: x[5])

In [19]:
frame['Pos'] = frame.Sentiment.apply(lambda x: int(x.split()[0]))

In [20]:
frame['Neg'] = frame.Sentiment.apply(lambda x: int(x.split()[1]))

In [22]:
frame = frame.drop(columns=['Timestamp','Entities','Username','Sentiment'])

In [25]:
frame.replace('null;', np.NaN,inplace=True)

In [31]:
x = 1

In [42]:
frame.Hashtags.loc[pd.notnull(frame.Hashtags)]

4                                 VFS
8                             Raiders
16              PRC70 NationalDay2019
17                              style
21                          scwx ncwx
                      ...
3609893              coronavirus ansa
3609894     americanidol quarantinetv
3609895                  coronavirus:
3609896                       COVID19
3609899    almost lockdown itvtonight
Name: Hashtags, Length: 2435784, dtype: object